@import url('https://fonts.googleapis.com/css?family=Asul|Chivo');


body {
    font-family: 'Chivo', sans-serif;
    font-size: 25px;
    line-height: 1.5;
    background-color: #fffae2;
    color: #221204;
}

h2 {
    font-family: 'Asul', sans-serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    margin: 0 0 0.6em 0;
}

p {
    margin: 1.6em 0 1.6em 0;
}

header {
    background-image: url(images/image-1.jpg);
    background-size: cover;
    background-position: center;

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: row;
}

section:nth-child(odd) {
    flex-direction: row-reverse;
}

section div {
    width: 50%;
}

section div.text {
    padding: 60px;
}

section div.full-image {
    height: 100vh;

    background-image: url(images/image-5.jpg);
    background-size: cover;
    background-position: center;

    position: sticky;
    position: -webkit sticky;
    top: 0;
}

section div.image-2 {
    background-image: url(images/image-3.jpg);

}

section div.image-3 {
    background-image: url(images/image-6.jpg);
    
}

@media (max-width: 800px) {
    body {
        font-size: 16px;
    }

    h2 {
        font-size: 32px;
    }

    header {
        height: 75vw;
    }

    section  {
        display: block;
    }

    section div {
        width: 100%;
    }

    section div.text {
        padding: 30px;
    }

    section div.full-image {
        height: 100vh;
    }
}